<header class="header">
  <a routerLink="Home">
    <img
      class="logo"
      alt="solid shop logosu"
      src="../../assets/logo-new-removebg-preview.png"
    />
  </a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" routerLink="About">Hakkımızda</a></li>
      <li><a class="main-nav-link" routerLink="Products">Ürünler</a></li>
      <li>
        <a
          class="main-nav-link nav-cta btnLogin"
          routerLink="Login"
          *ngIf="!loggedIn"
          >Login</a
        >
      </li>
      <!-- <li>
        <a
          class="main-nav-link nav-cta"
          routerLink=""
          (click)="logout()"
          style="background-color: #6c6c6c"
          >Logout</a
        >
      </li> -->
      <li>
        <a
          class="main-nav-link nav-cta"
          routerLink="Cart"
          style="background-color: #d60000e6; color: white"
          >Sepet</a
        >
      </li>
      <!-- 1 -->
    </ul>
  </nav>

  <!-- <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button> -->
</header>
