.container {
  width: 90vw;
}

.product-display-area {
  width: 100%;
  margin: 1rem auto;
}

table {
  width: 100%;
}

#products tr:nth-child(even) {
  background-color: #f2f2f2;
}

#products tr:hover {
  background-color: #ddd;
}

#products th {
  padding: 1.5rem;
  text-align: center;
  background-color: #222;
  color: white;
  font-size: 2rem;
}

img {
  width: 10rem;
}

td {
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

button {
  border: none;
  padding: 12px 16px;
  border-radius: 9px;
}

.btn-delete {
  background-color: #6c6c6c;
  color: white;
  width: 12rem;
}

.btn-delete:hover {
  background-color: #616161;
}

.btn-fetch {
  background-color: #d60000e6;
  color: white;
  margin: 0px 5px;
}

.btn-fetch:hover {
  background-color: #bf0000;
}
