<main>
  <section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">Alışveriş Tutkusu</h1>
        <p class="hero-description">
          Kayseri'den İstanbul'a uzanan yolda, güvenli ve etkin alışveriş
          sizlerle. Enerjinin her zamankinden daha önemli hale geldiği bu
          günlerde, alışverişi daha verimli ve güvenli hale getiriyoruz.
        </p>
        <a routerLink="Products" class="btn btn--full margin-right-sm"
          >Ürünleri Gör</a
        >
        <a href="#who" class="btn btn--outline">Daha fazla bilgi &darr;</a>
      </div>
      <div class="hero-img-box">
        <img
          src="../../assets/hero-img.png"
          class="hero-img"
          alt="online alışveriş yapan bir kullanıcı"
        />
      </div>
    </div>
  </section>
</main>
